{% extends 'base.html.twig' %}

{% block title %}Expositions de {{ member.email }}{% endblock %}

{% block body %}
    <h1>Expositions de {{ member.email }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Publiée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exposition in member.expositions %}
            <tr>
                <td>{{ exposition.id }}</td>
                <td>{{ exposition.description }}</td>
                <td>{{ exposition.publiee ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_exposition_show', {'id': exposition.id}) }}">Afficher</a>
                    <a href="{{ path('app_exposition_edit', {'id': exposition.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune Expositions trouvée pour ce membre.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# Link to create a new gallery for this member #}
    <a href="{{ path('app_exposition_new', { 'memberId': member.id }) }}">Créer une nouvelle Exposition</a>

    <a href="{{ path('app_member_index') }}">Retour à la liste des membres</a>
{% endblock %}
