{% extends 'base.html.twig' %}

{% block title %}Billet Index{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Liste des Billets</h1>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Pays</th>
                <th scope="col">Valeur</th>
                <th scope="col">Date d'apparition</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for billet in billets %}
            <tr>
                <td>{{ billet.id }}</td>
                <td>{{ billet.pays }}</td>
                <td>{{ billet.valeur }}</td>
                <td>{{ billet.DateApparition }}</td>
                <td>
                    <a href="{{ path('app_billet_show', {'id': billet.id}) }}" class="btn btn-outline-primary btn-sm">
                        Afficher
                    </a>
                    <a href="{{ path('app_billet_edit', {'id': billet.id}) }}" class="btn btn-outline-secondary btn-sm">
                        Modifier
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Aucun enregistrement trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
