{% extends 'base.html.twig' %}

{% block title %}Billet n°{{ billet.id }}{% endblock %}

{% block body %}
    <h1>Billet Details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ billet.id }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ billet.pays }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ billet.valeur }}</td>
            </tr>
            <tr>
                <th>Date d'apparition</th>
                <td>{{ billet.dateApparition }}</td>
            </tr>
            <tr>
                <th>Expositions</th>
                <td>
                    <ul>
                    {% for exposition in billet.expositions %}
                        <li>
                            <a href="{{ path('app_exposition_show', { 'id': exposition.id }) }}">
                                {{ exposition.description }}
                            </a>
                        </li>
                    {% else %}
                        <li>Aucune exposition associée à ce billet.</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exposition_show', { 'id': exposition.id }) }}">Retour à l'exposition</a>
{% endblock %}
