{% extends 'base.html.twig' %}

{% block title %}Expositions Publiques{% endblock %}

{% block body %}
    <h1>EXpositions Publiques</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Publiée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exposition in expositions %}
            <tr>
                <td>{{ exposition.id }}</td>
                <td>{{ exposition.description }}</td>
                <td>{{ exposition.publiee ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_exposition_show', {'id': exposition.id}) }}">Afficher</a>
                    <a href="{{ path('app_exposition_edit', {'id': exposition.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune exposition publique trouvée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# "Create New" link removed since gallery creation is contextualized to members #}
{% endblock %}
