{% extends 'base.html.twig' %}

{% block title %}Album n°{{ album.id }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Détails de l'Album</h1>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th scope="row">ID</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th scope="row">Nom</th>
                <td>{{ album.name }}</td>
            </tr>
            <tr>
                <th scope="row">Billets de l'album</th>
                <td>
                    <ul class="list-unstyled">
                        {% for billet in album.billets %}
                            <li>
                                <a href="{{ path('app_billet_show', {'id': billet.id}) }}" class="text-decoration-none text-primary">
                                    {{ billet.pays }}
                                </a>
                            </li>
                        {% else %}
                            <li class="text-muted">Aucun billet dans cet album.</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex mt-4">
        <a href="{{ path('app_billet_new', {'id': album.id}) }}" class="btn btn-success me-2">Ajouter un nouveau billet</a>
        <a href="{{ path('app_member_show', { 'id': album.member.id }) }}" class="btn btn-secondary">Retour au Membre</a>
    </div>
</div>
{% endblock %}
